{% extends base_template|default('@Contao/block_searchable.html.twig') %}

{% block content %}
    {% set events = hiddenEvents|default(events) %}
    {% if events is not empty %}
        <div class="event_list_hidden">
            {% for event in events %}
                {{ event|raw }}
            {% endfor %}
        </div>
    {% else %}
        <p class="empty">{{ emptyMsg }}</p>
    {% endif %}
{% endblock %}
